<div class="title">
  PERFIL DO INVESTIDOR - QUESTIONÁRIO
</div>

<div class="conteudo">
  <form [formGroup]="objFormQuestions" (ngSubmit) = "save()">

    <div class="question" *ngFor="let item of questions">
      <p><strong>{{item.number}} - </strong> {{item.question}}</p>
      <div class="radios">
        <mat-radio-group formControlName="{{item.name}}">
          <ng-container *ngFor="let option of item.options">
            <mat-radio-button value="{{option.value}}">{{option.text}}</mat-radio-button> <br><br>
          </ng-container>
        </mat-radio-group>
      </div>
    </div>

    <div class="question q4" formGroupName="perg4">
      <p><strong>4 - </strong> Qual a sua familiaridade com os tipos de investimentos abaixo?</p>
      <p class="perg">  Leve em consideração o valor aplicado nos últimos 2 anos.</p>

      <div class="perg4Item">
        <p>Títulos de renda fixa ou tesouro direto</p>
        <mat-form-field >
          <mat-select formControlName="tituloRenda" placeholder="Selecione...">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{option.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="perg4Item">
        <p>Fundos de Investimento</p>
        <mat-form-field >
          <mat-select formControlName="fundoInvest" placeholder="Selecione...">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{option.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="perg4Item">
        <p>Ações a vista</p>
        <mat-form-field >
          <mat-select formControlName="acoesaVista" placeholder="Selecione...">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{option.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="perg4Item">
        <p>Aluguel de ações, termos, opções e futuros</p>
        <mat-form-field >
          <mat-select formControlName="alugueAcoes" placeholder="Selecione...">
            <mat-option *ngFor="let option of options" [value]="option.value">
              {{option.text}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="" style="width: 30%;margin-top: 30px; margin-left: 35%;">
          <app-select-adryell
            [options]="options"
            [label]="'Teste Componente'"
            (optionSelect)="teste($event)">
          </app-select-adryell>
        </div>
      </div>


    </div>

    <p class="perg fot">Gostaria de responder ao perfil investidor?</p>
    <div class="botoes">
      <button mat-stroked-button type="button" class="back" (click)="voltar()">Voltar</button>
      <button type="submit" mat-button class="go" [disabled]="!objFormQuestions.valid">Salvar</button>
    </div>

  </form>

</div>
