<div class="title">
  INFORMAÇÕES RECEBIDAS
</div>

<div class="conteudo">
  <p>Em até 46h daremos um retorno sobre a abertura de sua conta.</p>
  <p>
    Para receber nossas recomendações de investimentose começar a investir,
    precisamos conhecer seu perfil investidor.
  </p>
  <p>São apenas 4 perguntas, que irão guiar todas as suas decisões de investimentos.</p>

  <br><br>
  <p class="perg">Gostaria de responder ao perfil investidor?</p>
  <div class="botoes">
    <button mat-stroked-button class="back" (click)="openNao()">Não</button>
    <button mat-button class="go" (click)="openSim()">Sim</button>
  </div>
</div>
